
#nav{
	z-index: 1;
	float:left;
	position:fixed;

	
	left:75px;
	top:200px;
	border-style:ridge;
	border-color:#2EB8E6;
	padding:5px 20px 5px 20px;
	
	background-image: url("media/fresh_snow_bg.png");
}

#assign4{
         color:black;
}

#review { 
		z-index:2;
		border-style:ridge;
		border-color:#2EB8E6;
		width: 600px;
		padding-top: 25px;
		padding-right: 30px;
		padding-bottom: 25px;
		padding-left: 30px;
		position:relative;	
		left:385px;
		background-image:url("media/fresh_snow_bg.png");
		color:#305C87;
		font-size:16px;
}
aside{
	float: right;
	padding-right: 25px;
}
#content{
	
	position:relative;
	
	
}
#wrapper{
	padding-bottom:30px;
}

#reviewTitle{
	position:relative;
	font-size:30px;
}

a.links{
	text-decoration:none;
	color:#305C87;
	font-size:16px;
}

a.links:hover{
	color:cyan;
}
a.links:visited{
	color:magenta;
}

a{
	text-decoration:none;
	color:white;
}

#title{
	position:relative;
	left:350px;
	width:680px;
	z-index: 1;
	padding-bottom:50px;
	padding-top:50px;
}


body{
	background-image: url('media/stardust_bg.png');
    overflow-x: hidden; 
}


#music{
	width:600px
}

#text-content {
  
  color: white;
  position: fixed;
  left:85px;
  top:160px;
  font-size:36px;
  font-family: fantasy;
  opacity:0;
  
}

#navinteractive:hover + #text-content{
	opacity:1;
}
#navportfolio:hover + #text-content{
	opacity:1;
	left:100px;
}

#navwebdev:hover + #text-content{
	left:100px;
	opacity:1;
}

#navhome:hover + #text-content{
	left:120px;
	opacity:1;
}

footer{
	color:white;
	position:relative;
	left:393px;
}
